*{
    margin: 1;
    padding: 1px;;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    background-color:crimson;
    color: black;
    text-align: center;
}
main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
}
nav :hover{
    color: aliceblue;
}
p{
    flex-wrap: wrap;
    -ms-flex-align: center;
    text-align: center;
}
footer :hover{
    color: chartreuse;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    font-size: large;
}