*{box-sizing:border-box;}
body {
    font-family: sans-serif;
    background-color: darkgrey;
    margin: 0cap;
    padding: 0.2em;
}
.card {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: indianred;
    border: 4px solid black;
}
h1 {
    color: black;
    font-size: large;
    margin: 10px;
}
p {
    color: black;
    margin: 10px;
}